
SearchFuncionality/.vs/SearchFuncionality/v16/.suo

SearchFuncionality/SearchFuncionality/obj/Debug/netcoreapp3.1/

SearchFuncionality/SearchFuncionality/obj/

SearchFuncionality/SearchFuncionality/bin/Debug/netcoreapp3.1/cs/

SearchFuncionality/SearchFuncionality/bin/Debug/netcoreapp3.1/de/

SearchFuncionality/SearchFuncionality/bin/Debug/netcoreapp3.1/es/

SearchFuncionality/SearchFuncionality/bin/Debug/netcoreapp3.1/fr/

SearchFuncionality/SearchFuncionality/bin/Debug/netcoreapp3.1/it/

SearchFuncionality/SearchFuncionality/bin/Debug/netcoreapp3.1/ja/

SearchFuncionality/SearchFuncionality/bin/Debug/netcoreapp3.1/ko/

SearchFuncionality/SearchFuncionality/bin/Debug/netcoreapp3.1/

SearchFuncionality/SearchFuncionality.sln.DotSettings.user
